*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    display: grid;
    font-family: "Google Sans Flex", sans-serif;
    background-color: gray;
    min-height: 100vh;
    justify-content: center;
    align-content: center;
}

section{
    padding: 70px;
    border-radius: 10px;
    justify-self: center;
    background-color: white;
    
}

section form{
    display: grid;
    column-gap: 15px;
    row-gap: 20px;
    grid-template-columns: 400px 400px;
    grid-template-rows: 80px 70px 70px 70px 70px;
}

input,
select,
textarea{
    border: none;
    border-radius: 5px;
    background-color: rgb(238, 238, 238);
    height: 40px;
    width: 100%;
    padding: 5px;
}

textarea{
    height: 120px;
}

button{
    border: none;
    background-color: rgb(0, 132, 255);
    color: white;
    width: 140px;
    border-radius: 5px;
}

.head{
    grid-row: 1 / 2;
    grid-column: 1 / 3;
}

.name-label{
    grid-row: 2 / 3;
    grid-column: 1 / 2;
}

.name{
    align-self: end;
    grid-row: 2 / 3;
    grid-column: 1 / 2;
}

.email-label{
    grid-row: 3 / 4;
    grid-column: 1 / 2;
}

.email{
    align-self: end;
    grid-row: 3 / 4;
    grid-column: 1 / 2;
}

.phone-label{
    grid-row: 4 / 5;
    grid-column: 1 / 2;
}


.phone{
    grid-row: 4 / 5;
    grid-column: 1 / 2;
    display: grid;
    align-self: end;
    grid-template-columns: 60px 85%;
}

.phone select{
    border-radius: 5px 0px 0px 5px;
}

.phone input{
    border-radius: 0px 5px 5px 0px;

}
.date-label{
    grid-row: 2 / 3;
    grid-column: 2 / 3;
}

.date{
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    align-self: end;
}

.share-label{
    grid-row: 3 / 4;
    grid-column: 2 / 3;
}

.share{
    grid-row: 3 / 5;
    grid-column: 2 / 3;
    align-self: end;
}

.button{
    display: grid;
    grid-template-columns: auto auto;
    align-self: center;
    column-gap: 5px;
    margin-top: 10px;
    justify-self: end;
    height: 40px;
    grid-row: 5 / 6;
    grid-column: 2 / 3;
}

span{
    align-self: center;
}

svg{
    align-self: center;
    fill: white;
    width: 20px;
}