*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: "Stack Sans Text";
}

section{
    display: grid;
    background-color: blue;
    justify-self: center;
    width: 550px;
    height: 450px;
    padding: 80px 60px;
}

#section{   
    display: grid;
    grid-template-rows: 30px 30px 50px 50px 20px 50px;
    grid-template-columns: 200px 200px;
    grid-row-gap: 10px;
    grid-column-gap: 10px;
}

h1{
    text-align: center;
    grid-row: 1 / 2;
    grid-column: 1 / 3;
    color: white;
    font-weight: bold;
}
p{
    text-align: center;
    grid-column: 1 / 3;
    grid-row: 2 / 3;
    color: white;
}

.first{
    grid-row: 3 / 4;
    grid-column: 1 / 2;
}
.first input,
.second input,
.third input{
    width: 100%;
    padding: 14px;
    border-radius: 8px;
}
.fourth button{
    width: 120px;
    padding: 15px;
    border-radius: 8px;
    color: blue;
    font-weight: bold;
    font-family: "Stack Sans Text";
}
.second{
    grid-row: 3 / 4;
    grid-column: 2 / -1;
}
.third{
    grid-row: 4 / 5;
    grid-column: 1 / 3;
}
.fourth{
    grid-row: 6 / 7;
    grid: 1 / 3;
    align-self: start;
}
