*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: "Stack Sans Text";
    display: grid;
    min-height: 100vh;
    justify-content: center;
    align-content: center;
}


section{
    display: grid;
    background-color: blue;
    justify-self: center;
    width: 550px;
    height: 450px;
    padding: 80px 60px;

    background-image: url(./images/background.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2); 
    position: relative; 
    overflow: hidden;

}
section::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(68, 80, 203, 0.85);
    z-index: 1;
}

#section{   
    display: grid;
    grid-template-rows: 30px 30px 50px 50px 20px 50px;
    grid-template-columns: 200px 200px;
    grid-row-gap: 10px;
    grid-column-gap: 10px;
    z-index: 2;
}

h1{
    text-align: center;
    grid-row: 1 / 2;
    grid-column: 1 / 3;
    color: white;
    font-weight: bold;
}
p{
    text-align: center;
    grid-column: 1 / 3;
    grid-row: 2 / 3;
    color: white;
}

.first{
    grid-row: 3 / 4;
    grid-column: 1 / 2;
}
.first input,
.second input,
.third input{
    width: 100%;
    padding: 14px;
    border-radius: 8px;
}
.fourth button{
    width: 120px;
    padding: 15px;
    border-radius: 8px;
    color: blue;
    font-weight: bold;
    font-family: "Stack Sans Text";
}
.second{
    grid-row: 3 / 4;
    grid-column: 2 / -1;
}
.third{
    grid-row: 4 / 5;
    grid-column: 1 / 3;
}
.fourth{
    grid-row: 6 / 7;
    grid: 1 / 3;
    align-self: start;
}
