*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    display: grid;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: rgb(205, 205, 205);
}

section{
    background-color: white;
    padding: 20px 40px;
    border-radius: 20px;
}

form{
    display: grid;
    grid-template-columns: 350px 350px;
    grid-template-rows: repeat(7, 50px);
    column-gap: 50px;
    row-gap: 10px;
}

.title{
    grid-row: 1 / 2;
    grid-column: 1 / 3;
}

.first-name-label{
    grid-row: 2 / 3;
    grid-column: 1 / 2;
}

.first-name{
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    align-self: end;
}

.email-label{
    grid-row: 3 / 4;
    grid-column: 1 / 2;
}

.email{
    grid-row: 3 / 4;
    grid-column: 1 / 2;
    align-self: end;
}

.last-name-label{
    grid-row: 2 / 3;
    grid-column: 2 / 3;
}

.last-name{
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    align-self: end;
}

.job-role-label{
    grid-row: 3 / 4;
    grid-column: 2 / 3;
}

.job-role{
    grid-row: 3 / 4;
    grid-column: 2 / 3;
    align-self: end;
}

.address-label{
    grid-row: 4 / 6;
    grid-column: 1 / 3;
}

.address{
    grid-row: 4 / 6;
    grid-column: 1 / 3;
    align-self: end;
}

.address textarea{
    height: 70px;
    width: 100%;
}

.city-label{
    grid-row: 6 / 7;
    grid-column: 1 / 2;
}

.city{
    grid-row: 6 / 7;
    grid-column: 1 / 2;
    align-self: end;
}

.date-label{
    grid-row: 7 / 8;
    grid-column: 1 / 2;
}

.date{
    grid-row: 7 / 8;
    grid-column: 1 / 2;
    align-self: end;
}

.zip-label{
    grid-row: 6 / 7;
    grid-column: 2 / 3;
}

.zip{
    grid-row: 6 / 7;
    grid-column: 2 / 3;
    align-self: end;
}

.cv-label{
    grid-row: 7 / 8;
    grid-column: 2 / 3;
}

.cv{
    grid-row: 7 / 8;
    grid-column: 2 / 3;
    align-self: end;
}

.button{
    grid-row: 8 / 9;
    grid-column: 2 / 3;
    justify-self: end;
}