*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    display: grid;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: rgb(245, 245, 245);
    font-family: "Lato", sans-serif;
}

section{
    background-color: rgb(252, 252, 252);
    padding: 20px 40px;
    border-radius: 20px;
    border: 2px rgb(241, 236, 236) solid;
}

form{
    display: grid;
    grid-template-columns: 300px 300px;
    grid-template-rows: 55px 55px 55px 55px 55px 55px 55px 55px ;
    column-gap: 50px;
    row-gap: 10px;
    
}

.title{
    grid-row: 1 / 2;
    grid-column: 1 / 3;
}

form .title,
form label,
form input,
form textarea,
form select{
    width: 100%;
    padding: 5px;
    background-color: white;
}

form input,
form select,
form textarea{
    border: 1px rgba(128, 128, 128, 0.537) solid;
    border-radius: 5px;
}

.first-name-label{
    grid-row: 2 / 3;
    grid-column: 1 / 2;
}

.first-name{
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    align-self: end;
}

.email-label{
    grid-row: 3 / 4;
    grid-column: 1 / 2;
}

.email{
    grid-row: 3 / 4;
    grid-column: 1 / 2;
    align-self: end;
}

.last-name-label{
    grid-row: 2 / 3;
    grid-column: 2 / 3;
}

.last-name{
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    align-self: end;
}

.job-role-label{
    grid-row: 3 / 4;
    grid-column: 2 / 3;
}

.job-role{
    grid-row: 3 / 4;
    grid-column: 2 / 3;
    align-self: end;
}

.address-label{
    grid-row: 4 / 6;
    grid-column: 1 / 3;
}

.address{
    grid-row: 4 / 6;
    grid-column: 1 / 3;
    align-self: end;
}

.address textarea{
    height: 90px;
    width: 100%;
}

.city-label{
    grid-row: 6 / 7;
    grid-column: 1 / 2;
}

.city{
    grid-row: 6 / 7;
    grid-column: 1 / 2;
    align-self: end;
}

.date-label{
    grid-row: 7 / 8;
    grid-column: 1 / 2;
}

.date{
    grid-row: 7 / 8;
    grid-column: 1 / 2;
    align-self: end;
}

.date input{
    font-weight: bold;
}



.zip-label{
    grid-row: 6 / 7;
    grid-column: 2 / 3;
}

.zip{
    grid-row: 6 / 7;
    grid-column: 2 / 3;
    align-self: end;
}

.cv-label{
    grid-row: 7 / 8;
    grid-column: 2 / 3;
}

.cv{
    grid-row: 7 / 8;
    grid-column: 2 / 3;
    align-self: end;
}
form .cv input{
    border: none;

}

.button{
    grid-row: 8 / 9;
    grid-column: 2 / 3;
    justify-self: end;
}

button{
    background-color: rgb(26, 81, 223);
    color: white;
    width: 130px;
    height: 35px;
    border: none;
    border-radius: 5px;
}