*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: lightblue;
}
.contact{
    display: grid;
    background-color: lightpink;
    grid-template-areas: 
    "image title space"
    "image name contact-p"
    "image spacer arroba-p"
    "image email based-p"
    "image spacer new-p"
    ""
    
    ;
}

.image img{
    width: 320px;
    border-radius: 0px 70px 0px 70px;
}

svg{
    width: 25px;
}